.panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #fff;
}

.subHeader,
.header {
  display: flex;
  align-items: center;
  margin: 26px 0;
}

.subHeader {
  justify-content: flex-start;
  margin: 0;
}

.header {
  justify-content: space-between;
}

.name {
  font-weight: 500;
  font-size: 30px;
}

.path {
  margin: 10px;
  font-size: 20px;
}

.resName {
  font-weight: 100;
  font-size: 10px;
}

.resDescription {
  margin: 10px;
  font-size: 10px;
}

.resHeader {
  display: flex;
  align-items: center;
}

.button {
  width: 90px;
  height: 32px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.paramTitle {
  font-size: 20px;
}

.params {
  font-weight: 500;
}

.params p {
  font-size: 16px;
}

.subContent {
  padding: 0 20px;
  font-weight: bold;
}

.red {
  color: red;
}

.btn {
  width: 100%;
  margin-bottom: 40px;
  border: none;
}
